*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

h1{
    font-size: 100px;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

input{
    width: 450px;
    height: 25px;
    margin-left: 400px;
}

#addTaskBtn{
    width: 75px;
    height: 29px;
}