@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Montserrat&family=Poppins&family=Roboto:ital,wght@0,400;0,500;1,400&display=swap');


*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

h1{
    font-size: 100px;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

input{
    width: 450px;
    height: 25px;
    margin-left: 400px;
}

#addTaskBtn{
    width: 75px;
    height: 29px;
}

ul{
    text-decoration: dashed;
}

button{
    width: 75px;
    height: 20px;
}

li{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

#deleteBtn{
    margin-left: 30px;
}